# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
.venv

# Backend cache
backend/app/__pycache__/

# Node
node_modules/
dist/
*.tsbuildinfo

# Frontend cache and build
frontend/.angular/
frontend/dist/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# SQLite
*.db
*.sqlite

# Logs
*.log

# Misc
jcef_*.log
